<div class="wrapper">
	<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
		<mat-tab label="Transaction Monitor">
			<div class="card">
				<div class="card-body">
					<form class="filterForm" [formGroup]="filterForm" (ngSubmit)="onSubmit()">
						<div class="d-flex">
							<div class="px-1">
								<mat-form-field>
									<mat-label>Transaction ID</mat-label>
									<input matInput formControlName="transaction_id" />
								</mat-form-field>
							</div>
							<div class="px-1">
								<mat-form-field>
									<mat-label>Account</mat-label>
									<input matInput formControlName="account" />
								</mat-form-field>
							</div>
							<div class="px-1">
								<mat-form-field>
									<input matInput placeholder="Start Date" [matDatepicker]="StartDate"
										(click)="StartDate.open()" (keypress)="keyPress($event, 'date')"
										formControlName="start_date">
									<mat-datepicker-toggle matSuffix [for]="StartDate"></mat-datepicker-toggle>
									<mat-datepicker #StartDate></mat-datepicker>
								</mat-form-field>
							</div>
							<div class="px-1">
								<mat-form-field>
									<input matInput placeholder="End Date" [matDatepicker]="EndDate"
										(click)="EndDate.open()" (keypress)="keyPress($event, 'date')"
										formControlName="end_date">
									<mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
									<mat-datepicker #EndDate></mat-datepicker>
								</mat-form-field>
							</div>
							<div class="px-1">
								<mat-form-field>
									<mat-select formControlName="originator" placeholder="Originator">
										<mat-option value="0">All</mat-option>
										<mat-option value="1">one</mat-option>
										<mat-option value="2">two</mat-option>
										<mat-option value="3">three</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="px-1">
								<mat-form-field>
									<mat-select formControlName="location" placeholder="Location">
										<mat-option value="0">All</mat-option>
										<mat-option value="1">Bangalore</mat-option>
										<mat-option value="2">Delhi</mat-option>
										<mat-option value="3">Mumbai</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<div class="d-flex">
							<div class="px-1">
								<mat-form-field>
									<mat-select formControlName="status" placeholder="Status">
										<mat-option value="0">All</mat-option>
										<mat-option value="1">Pending</mat-option>
										<mat-option value="2">Completed</mat-option>
										<mat-option value="3">Failed</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="px-1">
								<mat-form-field>
									<mat-select formControlName="form" placeholder="Form">
										<mat-option value="0">All</mat-option>
										<mat-option value="1">In progress</mat-option>
										<mat-option value="2">Done</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="px-1">
								<mat-form-field>
									<mat-label>RT</mat-label>
									<input matInput formControlName="rt" />
								</mat-form-field>
							</div>
							<div class="px-1">
								<mat-form-field>
									<mat-label>DDA</mat-label>
									<input matInput formControlName="dda" />
								</mat-form-field>
							</div>
							<div class="px-1">
								<mat-form-field>
									<mat-label>Check Amount</mat-label>
									<input matInput formControlName="check_amount" />
								</mat-form-field>
							</div>
							<div class="px-1">
								<mat-form-field>
									<mat-label>ATM Location</mat-label>
									<input matInput formControlName="atm_location" />
								</mat-form-field>
							</div>
						</div>
						<div class="d-flex">
							<div class="px-1">
								<mat-form-field>
									<mat-select formControlName="transaction_type" placeholder="Transaction Type">
										<mat-option value="0">All</mat-option>
										<mat-option value="1">Cash</mat-option>
										<mat-option value="2">Card</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="px-1">
								<mat-form-field class="md-block col mr-1">
									<input matInput placeholder="Deposit Amount" #currency
										formControlName="deposit_amount">
									<mat-button-toggle-group matSuffix name="fontStyle" aria-label="Font Style"
										formControlName="deposit_amount_operator">
										<mat-button-toggle [value]="0">=</mat-button-toggle>
										<mat-button-toggle [value]="1"> &lt;= </mat-button-toggle> <mat-button-toggle
											[value]="2">>=
										</mat-button-toggle>
									</mat-button-toggle-group>
								</mat-form-field>
							</div>
							<div class="px-1">
								<mat-form-field>
									<mat-select formControlName="reason_code" placeholder="Reason code">
										<mat-option value="0">All</mat-option>
										<mat-option value="1">Reason 1</mat-option>
										<mat-option value="2">Reason 2</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="px-1 pt-2">
								<button mat-raised-button color="primary">Search</button>
								<button class="ms-2" mat-raised-button color="warn">Reset</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="card mt-2">
				<div class="card-body">
					<app-table *ngFor="let table of heroData" [metaData]="table"></app-table>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="Research">Content 2</mat-tab>
		<mat-tab label="Report">Content 3</mat-tab>
		<mat-tab label="System Configuration">Content 3</mat-tab>
		<mat-tab label="Utilities">Content 3</mat-tab>
		<mat-tab label="Admin">Content 3</mat-tab>
	</mat-tab-group>
</div>